package main
import (
    _ "github.com/lib/pq"
)

templ output_table(){
    <div>
        <h1>test</h1>
        //write a input that does post request to my database and returns fetchted data 
        <form action="" method="post">
            <input type="text" name="name">
        </form>
    </div>
}